<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script><!-- load angular 1.2.4 -->

    <!--<script src="/javascripts/controllers/main.js"></script> <!-- load up our controller -->
    <!-- <script src="/javascripts/services/HIWservices.js"></script>  load up our controller -->
    <!-- <script src="/javascripts/core.js"></script> load our main application -->

    <title>This is the title!</title>

</head>
<body ng-app="MyApp">
    <!--<select ng-model="string"> ../public (browser)/javascripts/controllers/main.js
        ...
    </select>-->
    <!--<h1>{{data.availableOptions}}</h1>
    <table>
        <thead>
            <tr><th colspan="2">List of Locales, {{test}}</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in locales.availableOptions">
                <td>{{$index + 1}}</td>
                <td>
                    {{data.fullName}}
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <div ng-controller="mainController">
            <ul ng-repeat="user in locales.availableOptions">
                <li>{{user.fullName}}</li>
            </ul>
            <div class="nested" ng-controller="AnotherCtrl">
                First user: {{firstUser}}
            </div>
        </div>

    </div>-->
<div ng-controller="MyCtrl">
    <ul ng-repeat="user in users">
        <li>{{user}}</li>
    </ul>
    <div class="nested" ng-controller="AnotherCtrl">
        First user: {{firstUser}}
    </div>
</div>
<div ng-controller="YourCtrl">
    <ul ng-repeat="user in users">
        <li>{{user}}</li>
    </ul>

</div>
    <script data-main="/javascripts/common" src="/javascripts/require.js"></script>
    
</body>
</html>